:root {
  --amarillo: #eadb0b;
  --negro: #000000;
  --rojo: #dc0c0c;
  --gris: #628d9c;
  --azul: #16248d;
  --anaranjado: #d86b1d;
  --blanco: #e8c5c5;
  --celeste: #5391ce;
  --morado: #5912ab;
}
html {
  font-size: 65.5%;
}
body {
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(
    to top,
    var(--celeste) -40%,
    var(--blanco) 50%
  );
}

.titulo_principal {
  color: var(--anaranjado);
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
}

.navegador_principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    to left,
    var(--celeste) 33%,
    var(--amarillo) 100%
  );
  border-radius: 1rem;
}

@media (min-width: 786px) {
  .navegador_principal {
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--celeste);
  }
}

.navegador_principal a {
  color: var(--negro);
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem;
  font-weight: bold;
}

.navegador_principal a:hover {
  background-color: var(--negro);
  color: var(--blanco);
}

.contenedor {
  width: 100%;
  margin: 0 auto;
  margin-left: 0;
}
.transporte {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
  background-position: center;
  height: 300px;
  margin-top: 1rem;
}

.contenedor_banner {
  max-width: 120rem;
  margin: 0 auto;
  margin-top: 1rem;
}

.wrappler {
  display: flex;
  flex-direction: column;
}
.wrappler a,
p {
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: large;
}

.boton {
  background-image: linear-gradient(
    to left,
    var(--gris) 33%,
    var(--morado) 100%
  );
  padding: 1rem 3rem;
  border-radius: 1rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 90%;
  margin-bottom: 2rem;
  box-shadow: 7px 9px 8px 0px var(--anaranjado);
}

.servicios {
  display: flex;
  flex-direction: column;
}
.servicio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }
}
.contenedor h2 {
  font-size: 3rem;
}

.servicio h3 {
  font-size: 2rem;
}

.sombra {
  background-image: linear-gradient(
    to right,
    var(--gris) 40%,
    var(--amarillo) 90%
  );
  text-align: center;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 1px 1px 10px 6px var(--negro);
  margin-bottom: 1rem;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
  margin-top: 1rem;
}
.wrapplerh2 {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}

.formulario {
  background-image: linear-gradient(
    to left,
    var(--celeste) 0%,
    var(--anaranjado) 90%
  );
  border-radius: 1rem;
  padding: 2rem;
}

.formulario fieldset {
  border: none;
}

.formulario legend {
  font-size: 2rem;
  text-align: center;
}

.labels {
  margin-bottom: 1rem;
}

.labels label {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: start;
  display: block;
}

.input_texto {
  width: 100%;
  padding: 1rem;
  border: none;
  margin-top: 1rem;
  border-radius: 1rem;
}

.contenedor_formulario {
  max-width: 120rem;
  margin: 0 auto;
  margin-top: 1rem;
}

.boton_enviar {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    to left,
    var(--gris) 33%,
    var(--morado) 100%
  );

  padding: 1rem 3rem;
  border-radius: 1rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 50%;
  margin: 0 auto 2rem auto;
  box-shadow: 7px 9px 8px 0px var(--negro);
}
